.box{
    color:blue;
}
body{
    color:blue;
    background-color:black;
}
p{

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
    line-height: 20px;
    text-transform:uppercase ;
    text-align: center;
    color:rgb(184,233,144);

}
